header {
    width: 100%;
    text-align: center;

    @media ( min-width: map-get( $grid-breakpoints, 'md' ) ) {
        height: 300px
    }

    & > a {
        display: inline-block;
        width: 100%;
    }
}

svg {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 900px;
    height: 100%;

    image {
        x: 0;
        y: -50%;
        transition: all 1s ease;
    }

    text {
        font-family: fatfrank, sans-serif;
        font-size: 18em;
        -webkit-font-smoothing: antialiased;
    }
}