$navBreakpoint : map-get( $grid-breakpoints, 'md' );

nav {
    font-family: ingra, sans-serif;

    ul#menubar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;

        @media ( min-width: $navBreakpoint ) {
            flex-direction: row;
            height: 0.55em;
        }

        li {
            list-style: none;
            padding: 0;
            margin: 10px 0;
            
            @media ( min-width: $navBreakpoint ) {
                margin: 0 1%;
            }

            a {
                text-decoration: none;
                padding: .1em 1em;
                color: $grey-light;
                transition: all 200ms ease;
                
                &:hover {
                    color: darken( $grey-light, 25 );
                }
            }
        }
    }
}