.is-transparent {
    opacity: 0;
}
.image-center {
    x: -25% !important;
}
.image-right {
    x: -50% !important;
}
.is-active {
    color: darken( $grey-light, 25 ) !important;
    text-decoration: underline !important;
}